{% extends "admin/bars.html.twig" %}

{% block title %}Product index{% endblock %}

{% block contentpage %}
    <h1>Product List</h1>

    <a href="{{ path('product_new') }}" class="btn btn-primary">Create new</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>BillyId</th>
                <th>OrganizationId</th>
                <th>Name</th>
                <th>Description</th>
                <th>AccountId</th>
                <th>SuppliersProductNo</th>
                <th>IsArchived</th>
                <th>ExternalId</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('product_edit', {'id': product.id}) }}">{{ product.id }}</a></td>
                <td>{{ product.billyId }}</td>
                <td>{{ product.organizationId }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.accountId }}</td>
                <td>{{ product.suppliersProductNo }}</td>
                <td>{{ product.isArchived ? 'Yes' : 'No' }}</td>
                <td>{{ product.externalId }}</td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}" class="btn btn-info">show</a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}" class="btn btn-dark">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
