{% extends "admin/bars.html.twig" %}

{% block title %}Contact index{% endblock %}

{% block contentpage %}
    <h1>Contact List</h1>

    <a href="{{ path('contact_new') }}" class="btn btn-primary">Create new</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>BillyId</th>
                <th>Type</th>
                <th>OrganizationId</th>
                <th>Name</th>
                <th>CountryId</th>
                <th>Street</th>
                <th>CityText</th>
                <th>StateText</th>
                <th>ZipcodeText</th>
                <th>ContactNo</th>
                <th>Phone</th>
                <th>Fax</th>
                <th>RegistrationNo</th>
                <th>Ean</th>
                <th>IsCustomer</th>
                <th>IsSupplier</th>
                <th>AccessCode</th>
                <th>IsArchived</th>
                <th>IsSalesTaxExempt</th>
                <th>DefaultExpenseProductDescription</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td><a href="{{ path('contact_edit', {'id': contact.id}) }}">{{ contact.id }}</a></td>
                <td>{{ contact.billyId }}</td>
                <td>{{ constant('App\\Constant\\ContactTypeConstants::CHOICES')[contact.type] }}</td>
                <td>{{ contact.organizationId }}</td>
                <td>{{ contact.name }}</td>
                <td>{{ contact.countryId }}</td>
                <td>{{ contact.street }}</td>
                <td>{{ contact.cityText }}</td>
                <td>{{ contact.stateText }}</td>
                <td>{{ contact.zipcodeText }}</td>
                <td>{{ contact.contactNo }}</td>
                <td>{{ contact.phone }}</td>
                <td>{{ contact.fax }}</td>
                <td>{{ contact.registrationNo }}</td>
                <td>{{ contact.ean }}</td>
                <td>{{ contact.isCustomer ? 'Yes' : 'No' }}</td>
                <td>{{ contact.isSupplier ? 'Yes' : 'No' }}</td>
                <td>{{ contact.accessCode }}</td>
                <td>{{ contact.isArchived ? 'Yes' : 'No' }}</td>
                <td>{{ contact.isSalesTaxExempt ? 'Yes' : 'No' }}</td>
                <td>{{ contact.defaultExpenseProductDescription }}</td>
                <td>
                    <a href="{{ path('contact_show', {'id': contact.id}) }}" class="btn btn-info">show</a>
                    <a href="{{ path('contact_edit', {'id': contact.id}) }}" class="btn btn-dark">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="32">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
